h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 10px;
  padding: 0px;
  background-color: #daf9ff;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

p {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

form {
  display: flex;
  justify-content: space-evenly;
}

input {
  width: 15%;
}

.nav-header {
  display: flex;
  align-items: center;
}

.logo-box {
  flex: 1;
}

.logo {
  height: 80px;
  width: 80px;
}

.nav-list {
  display: flex;
  flex: 1;
}

.nav-link {
  margin: 5px;
  padding: 10px;
  font-size: 24px;
  line-height: 0px;
  text-align: center;
  border: 4px solid #dddaff;
  background-color: #daffe0;
  border-radius: 6px;
}

.cart {
  margin: 5px;
  height: 50px;
  width: 50px;
}

.tickets-section {
  flex-wrap: wrap;
}

.tickets-section,
.goods {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-container {
  border: 2px dashed black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  width: 300px;
  height: 600px;
  text-align: center;
}

.goods {
  flex-direction: column;
}

.low-ticket {
  background-color: coral;
}

.med-ticket {
  background-color: #dbdbdc;
}

.high-ticket {
  background-color: #e7d27c;
}

.low-ticket,
.med-ticket,
.high-ticket {
  width: 300px;
  height: 300px;
}

.goods-container {
  width: 200px;
  height: 200px;
  border: 6px solid #dddaff;
}

.ticket-images {
  width: 100%;
}

.clothing-list,
.collectables-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list-item {
  border: dashed 2px gray;
  padding: 2px;
  margin: 15px;
  width: 212px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
